.ScheduleSelect {
    text-align: center;
}

.ScheduleSelect .TitleArea {
    margin: 5px auto;
}

.ScheduleSelect .TableArea {
    height: 65vh;
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    background-color: var(--Light);
    border: 1px solid var(--Primary);
    overflow: scroll;
}

.ScheduleSelect p {
    margin: 5px;
}
