.Row td {
    border: 1px solid var(--Borders);
    padding: 8px;
}

.Row:nth-child(even) {
    background-color: var(--Lighter);
}

.Row:hover {
    background-color: var(--Borders);
}

.Row td:last-child {
    font-size: 12px;
}

.Row td:last-child:hover {
    background-color: var(--Delete);
    color: var(--PrimaryFont);
    font-size: 0;
}

.Row td:last-child:hover:after {
    content: attr(data-hover);
    font-size: 10px;
}

.Row.Invalid {
    background-color: var(--Invalid);
}

