.Select {
    position: relative;
    margin: 10px;
    background-color: var(--Dark);
    text-align-last: center;
    font: inherit;
    font-weight: bold;
    border: none;
}

.Select.Success {
    color: var(--Success);
}

.Select.Info {
    color: var(--Primary);
}

.Select.Warning {
    color: var(--Warning);
}

.Select.Danger {
    color: var(--Danger);
}

.Select.OnPage {
    background-color: var(--Primary);
    box-shadow: inset 2px 2px 2px var(--Shadows);
}

.Select:hover {
    background-color: var(--Primary);
    cursor: pointer;
    color: var(--SecondaryFont);
}

.Select:active {
    background-color: var(--Secondary);
    box-shadow: inset 2px 2px 2px var(--Shadows);
    outline: none;
}

.Select option {
    color: var(--PrimaryFont);
    font-weight: bold;
    background-color: var(--Dark);
}

.Select option:first-child {
    display: none;
}
