.Slider {
    margin: 5px;
  }

  .Slider input {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 30px;
    background: var(--Primary);
    outline: none;
  }

  .Slider.Dark input {
    background: var(--Dark);
  }

  .Slider input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px;
    height: 30px;
    background: var(--Forms);
    cursor: pointer;
  }

  /* For firefox */
  .Slider input::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: var(--Forms);
    cursor: pointer;
  }

  .Slider p {
      text-align: center;
      margin: 10px;
  }
