.StudentSelect {
    text-align: center;
}

.StudentSelect .TableArea {
    height: 60vh;
    width: 90%;
    margin: auto;
    border: 1px solid var(--Primary);
    background-color: var(--Light);
    overflow: scroll;
}
