.Breadcrumbs {
    display: flex;
    height: 50px;
    width: 70%;
    margin: auto;
    padding: 0;
    justify-content: flex-start;
    background-color: var(--Forms);
    border: 1px solid var(--Primary);
}

.Breadcrumbs .Select {
    width: 25%;
    height: 30px;
    color: var(--PrimaryFont);
    font-weight: bold;
}

.Breadcrumbs option {
    color: var(--PrimaryFont);
    font-weight: bold;
    background-color: var(--Dark);
}

.Breadcrumbs .Button {
    width: 25%;
    height: 30px;
    padding: 0;
    color: var(--PrimaryFont);
}

.Breadcrumbs h3 {
    margin: 10px;
    padding: 0;
}
