.Breadcrumbs .Crumbs {
    display: flex;
    height: 50px;
    width: 70%;
    margin: auto;
    padding: 0;
    justify-content: center;
    background-color: var(--Forms);
    border: 1px solid var(--Primary);
}

.Breadcrumbs .Crumbs .Select {
    width: 25%;
    height: 30px;
    color: var(--PrimaryFont);
    font-weight: bold;
}

.Breadcrumbs .Crumbs option {
    color: var(--PrimaryFont);
    font-weight: bold;
    background-color: var(--Dark);
}

.Breadcrumbs .Crumbs .Button {
    width: 25%;
    height: 30px;
    padding: 0;
    color: var(--PrimaryFont);
}

.Breadcrumbs h3 {
    margin: 10px;
    padding: 0;
}
