.Start {
    text-align: center;
}

.Start .SettingsArea {
    height: 60vh;
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.Start .TimeSlotSettings {
    width: 45%;
    background-color: var(--Light);
    border: 1px solid var(--Primary);
    overflow: scroll;
}

.Start .ChoiceSettings {
    width: 45%;
    background-color: var(--Light);
    border: 1px solid var(--Primary);
}

.Start .Choices {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.Start .Duplicates {
    margin-top: 30px;
}

.Start .DividingLine {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid var(--Primary);
}

.Start p {
    margin: 5px;
    color: var(--SecondaryFont);
}

@media (max-width: 799px) {
    .Start nav {
        display: grid;
    }
}
