.Start {
    padding: 10px 50px;
}

.Start .ButtonArea {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.Start .Button {
    width: 15vw;
}

.Start .Select {
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 15vw;
    background-color: var(--Dark);
    color: var(--PrimaryFont);
    font: inherit;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--Shadows);
}

.Start .Select:hover {
    background-color: var(--Primary);
    cursor: pointer;
    color: var(--SecondaryFont);
}

.Start option {
    color: var(--PrimaryFont);
}

.Start .Select:active {
    background-color: var(--Secondary);
    box-shadow: inset 2px 2px 2px var(--Shadows);
    outline: none;
}

.Start .Select option:first-child {
    display: none;
}

.Start ul {
    list-style: none;
    padding-left: 0;
    margin: 0 5%;
}

.Start h4 {
    width: 20%;
}

.Start .DividingLine {
    width: 100%;
    margin: auto;
    padding: 0;
    border-bottom: 2px solid var(--Primary);
}

.Start .Options {
    display: flex;
}

.Start option {
    font-weight: bold;
    background-color: var(--Dark);
}

.Start .ChoiceSettings {
    display: flex;
    width: 80%;
    margin: 15px 0;
    background-color: var(--Dark);
}

.Start .ChoiceSlider {
    width: 300px;
}

.Start .DuplicateSettings {
    display: flex;
    width: 80%;
    margin: 15px 0;
    background-color: var(--Dark);
}

.Start .ToggleArea {
    display: inline-block;
    text-align: center;
}

.Start .SortSettings {
    display: flex;
    width: 80%;
    margin: 15px 0;
    background-color: var(--Dark);
}

.Start .SortSlider {
    width: 200px;
}

.Start .Submit {
    margin: 15px 0;
    padding: 10px;
    width: 30%;
    height: 40px;
    background-color: var(--Dark);
    justify-content: center;
    color: var(--PrimaryFont);
    font: inherit;
    font-weight: bold;
    border: none;
    box-shadow: 3px 3px 3px var(--Shadows);
}

.Start .Submit:hover {
    background-color: var(--Primary);
    cursor: pointer;
    color: var(--SecondaryFont);
}

.Start .Submit:active {
    background-color: var(--Secondary);
    box-shadow: inset 2px 2px 2px var(--Shadows);
    color: var(--SecondaryFont);
    outline: none;
}

.Start .Submit:disabled {
    background-color: var(--Lighter);
    color: var(--Dark);
    cursor: not-allowed;
}

.Start .Submit:disabled:hover {
    background-color: var(--Lighter);
    color: var(--Dark);
    cursor: not-allowed;
}

.Start p {
    color: var(--PrimaryFont);
    margin: auto 10px;
}

@media (max-width: 799px) {
    .Start nav {
        display: grid;
    }
}
