.Start {
    text-align: center;
}

.Start .ButtonArea {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.Start .Button {
    width: 15vw;
}

.Start .Select {
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 15vw;
    background-color: var(--Dark);
    color: var(--PrimaryFont);
    font: inherit;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--Shadows);
}

.Start .Select:hover {
    background-color: var(--Primary);
    cursor: pointer;
    color: var(--SecondaryFont);
}

.Start .Select:active {
    background-color: var(--Secondary);
    box-shadow: inset 2px 2px 2px var(--Shadows);
    outline: none;
}

.Start option {
    color: var(--PrimaryFont);
    font-weight: bold;
    background-color: var(--Dark);
}

.Start .Select option:first-child {
    display: none;
}

.Start .SettingsArea {
    height: 60vh;
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    overflow: scroll;
}

.Start .TimeSlotSettings {
    width: 50%;
}

.Start .ChoiceSettings {
    width: 40%;
    background-color: var(--Light);
    border: 1px solid var(--Primary);
}

.Start .Choices {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.Start .Duplicates {
    margin-top: 30px;
}

.Start .DividingLine {
    width: 80%;
    margin: auto;
    border-bottom: 2px solid var(--Dark);
}

.Start p {
    margin: 5px;
    color: var(--SecondaryFont);
}

@media (max-width: 799px) {
    .Start nav {
        display: grid;
    }
}
