.StudentList {
    width: 99%;
    margin: auto;
    background-color: var(--Forms);
    border-collapse: collapse;
}

.StudentList .Add {
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.StudentList .Add:hover {
    background-color: var(--Primary);
    color: var(--PrimaryFont);
}

.StudentList th {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--Primary);
    border: 1px solid var(--Borders);
    color: var(--PrimaryFont);
}

@media (max-width: 799px) {
    .StudentList {
        margin-left: 5px;

    }
}
