:root {
    --Primary: #03a9f4;
    --Secondary: steelblue;

    --Success: limegreen;
    --Danger: #ff4044;

    --Light: #ccc;
    --Lighter: #eee;
    --Dark: #333;

    --Invalid: tomato;
    --Delete: red;

    --Borders: #ddd;
    --Forms: white;
    --Shadows: black;
    
    --PrimaryFont: white;
    --SecondaryFont: black;
}
