.Layout {
    margin: auto;
}

.Content {
    position: absolute;
    margin-top: 60px;
    height: 90vh;
    width: 100%;
    text-align: center;
    display: inline-block;
    height: 90vh;
    background-color: var(--Lighter);
    z-index: 50;
}

@media (max-width: 799px) {
    .Content {
        margin-left: 0;
        width: 100%;
    }
}

.Content h2 {
    margin: 0 0 10px;
    padding: 10px;
}
